{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
  rel="stylesheet"
/>
</head>
<body>
    <div class="container">
        <div class="log">
            <i class="ri-remix-fill"></i>
            <a href="">GIL</a>
        </div>
        <div class="box">
           <a href="">Home</a>
           <a href="">About</a>
           <a href="">contact</a>
           <a href="">service</a>
        </div>
        <div class="persion">
            <a href="">Login</a>
            <a href="">LogOut</a>
        </div>
    </div>
    
</body>
</html>